@import "vars";
@import "myFlexFrame";
@import "mixins";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.update-btn{
    @include update-btn;
}

.delete-btn{
    @include delete-btn;
}

// errors

.input-error{
    border: 1px solid $danger-color;
    color: $danger-color;
    padding: 10px;
    border-radius: 8px;
}
input.input-error:placeholder-shown, textarea.input-error:placeholder-shown{
    background-color:rgba($color: $danger-color, $alpha: 0.5);
    border: 2px solid red !important;
}

input.input-error:not(:placeholder-shown), textarea.input-error:not(:placeholder-shown){
    background-color: $white-text;
    border: 2px solid $blue-bg;
    color: black;
}